.map {
    border:1px solid #d3d3d3;
    height:600px;
    padding: 0 1%;
    width:98%;
}

.log {
    border:1px solid #d3d3d3;
    height:600px;
    padding: 0 1%;
    width:98%;
}

.next-day-btn {
    float: right;
    margin: 0 0.5% 0;
}
